body{
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: #333333;
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 150%;
}

header{
    background-color: #333333;
}

h1{
    color: #eee;
    font-size: 28px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    background-color: #333333;
}

h2{
    font-size: 24px;
}

img{
    height: px;
    width: 478px;
    float: right;
}

a{
    color: #d21034;
}

.container{
    width: 1024px;
    margin: 0 auto;
}

#main-bio,
#contact-info,
#wolf-image{
    float: none;
}

#main-bio{
    width: 70%;
}

#contact-info{
    width: 30%;
}

#bio-image{
    margin-right: 20px;
    float: right;
}